.Auth {
    display: flex;
    /* background-color: bisque; */
    justify-content: center;
	flex-flow: row wrap;
    height: 500px; 
    border: solid 1px #fe6929;
    border-radius: 10px;
    overflow: hidden;
}

.Auth_Img {
    flex: 1;
    background-color: rgb(255, 105, 41);
    width: 500px;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Auth_Img > img {
    width: 450px;
    margin: 0px;
    padding: 0px;
    filter: drop-shadow(4px 4px 0px rgb(101, 100, 99));
}

.Auth_Component {
    background-color: #fe6929;
    position: relative;
    flex: 1;
    width: 500px;
    margin: 0px;
    padding: 0px;
    height: 500px; 
}

.Auth_Component > button {
    background-color: rgb(56, 97, 246, 0.9);
    border-radius: 50px;
    border: none;
    position: absolute;
    bottom: 30px;
    left: 60px;
    width: 380px;
    height: 50px;
    cursor: pointer;
    color: #b0c6fa;
}

.Auth_Component > button:hover {
    background-color: rgb(56, 97, 246);
    color: #b0c6fa;
}

@media screen and (max-width: 1000px) {
    .Auth {
        width: 500px;
    }
    .Auth_Img {
        display: none;
    }
}