.Home {
    display: block;
    background-color: #ffd966;
    width: 100%;
    /* margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px 0px 0px 30px;
    border: solid 1px black; */
    position: relative;
    /* overflow: hidden; */
    border-right: solid 1px #ffe8a3;
}

.HomeForm {
    display: block;
    background-color: #ffd966;
    position: relative;
    height: 100%;
    /* overflow: hidden; */
}

.HomeButtonForm {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.HomeButtonForm > img {
    /* background-color: #d3d3d3; */
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    filter: drop-shadow(4px 4px 3px rgb(133, 122, 87));
}

.HomeButton {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.Btn {
    flex-direction: row;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.imgBtn {
    /* background-color: rgb(255, 166, 41, 0.3); */
    width: 50px;
    height: 40px;
    margin-right: 10px;
    border-radius: 10px;
    border: solid 1.5px #ffa629;
    /* width: 100px; */
}

.imgBtn:hover {
    background-color: rgb(255, 166, 41);
    border: solid 1.5px #ffa629;
    /* width: 100px; */
    cursor: pointer;
}

.imgBtn_on {
    background-color: rgb(255, 166, 41);
    width: 50px;
    height: 40px;
    margin-right: 10px;
    border-radius: 10px;
    border: solid 1.5px #ffa629;
    /* width: 100px; */
}

.imgBtn > img, .imgBtn_on > img {
    width: 25px;
    height: auto;
    display: inline-flex;
    margin: 8px;
    filter: invert(51%) sepia(85%) saturate(456%) hue-rotate(355deg) brightness(105%) contrast(84%);
}

.imgBtn > img:hover, .imgBtn_on > img:hover {
    width: 25px;
    height: auto;
    display: inline-flex;
    margin: 8px;
    filter: invert(74%) sepia(70%) saturate(330%) hue-rotate(356deg) brightness(103%) contrast(101%);
}

.Btn > h4 {
    color: #393939;
    font-size: 13px;
    margin-top: 30px;
    font-weight: 600;
}

.WriteContainer {
    /* background-color: rgb(64, 150, 226); */
    display: inline-flex;
    z-index: 10000;
    width: 790px;
    height: 360px;
    top: 10%;
    left:  90%;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    border: solid 1px #ffa629;

    flex: 1;
}

.Write {
    background-color: #ffd966;
    display: inline-block;
    width: 100%;
    position: relative;
    flex-direction: row;
}

.WriteLoading {
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.WriteLoading > img { 
    width: 350px;
}

.WriteHeader {
    background-color: rgb(255, 166, 41, 0.7);
    display: flex;
    padding: 20px;
    position: relative;
    z-index: 10000000;
    border-bottom: solid 1px rgb(255, 166, 41, 0.7);
}

.WriteHeader > p {
    position: absolute;
    right: 20px;
}

.HomeWrite {
    flex-direction: row;
    display: flex;
}

.WriteSelectForm {
    /* background-color: #ffd966; */
    display: flex;
    padding: 10px;
    flex-direction: column;
    /* width: 400px; */

    flex: 0.3;
}

.Select {
    /* background-color: rgb(131, 195, 255); */
    display: inline-block;
    /* width: 200px; */
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    border: solid 1px #ffa629;
    margin-bottom: 10px;
}

.Select > select {
    background-color: #ffa629;
    width: 100%;
    outline: none;
    border: none;
    height: 18px;
    border-bottom: solid 1px #ffa629;
}

.Select > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.Select > div > img {
    width: 58px;
}

.MusicImgAnonymous {
    background-color: rgb(255, 166, 41, 0.5);
    display: flex;
    flex-direction: column;
    border:  solid 1px rgb(255, 166, 41);
    border-radius: 5px;
    overflow: hidden;
}

.ImgAnonymous {
    flex-direction: row;
    display: flex;
    flex: 1;
}

.anonymousForm {
    /* background-color: teal; */
    flex-direction: row;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex: 0.4;
    border-right: solid 1px rgb(255, 166, 41);
}

.anonymousForm > h4 {
    font-size: 12px;
}

.anonymousForm > span {
    border-radius: 5px;
    background-color: wheat;
    font-size: 11px;
    font-weight: 600;
    padding: 7px;
    margin-left: 5px;
    cursor: pointer;
}

.imgForm {
    background-color: rgb(255, 166, 41, 0.5);
    flex-direction: row;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex: 0.3;
    border-right: solid 1px rgb(255, 166, 41);
}

.imgForm > h4 {
    font-size: 12px;
}

.inputImgSelect {
    width: 27px;
    margin-left: 5px;
    cursor: pointer;
    padding: 6px 0px 0px 0px;
}

.musicOnOff {
    /* background-color: rgb(255, 166, 41, 0.5); */
    flex-direction: row;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex: 0.3;
}

.musicOnOff > span {
    border-radius: 5px;
    background-color: wheat;
    font-size: 11px;
    font-weight: 600;
    padding: 7px;
    margin-left: 5px;
    cursor: pointer;
}

.musicOnOff > h4 {
    font-size: 12px;
}

.musicSelect {
    background-color: rgb(255, 166, 41);
    display: inline-flex;
    flex-direction: row;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 10px;
}

.musicSelect > span {
    font-size: 12px;
    width: 80px;
    display: inline-block;
}

.serchArtist, .searchMusic {
    border-radius: 3px;
    border: none;
    font-size: 12px;
    width: 130px;
    height: 20px;
}

.searchMusic {
    margin-right: 10px;
}

.musicSelect > button {
    width: 30px;
    height: 22px;
    border-radius: 3px;
    background-color: tomato;
    border: none;
    margin-left: 10px;
}

.musicList {
    /* background-color: aliceblue; */
    display: inline-flex;
    margin: 10px;
    height: 20px;
    flex: 0.3;
}

.musicList > p {
    font-weight: 500;
    font-size: 15px;
    margin-top: 3px;
    color: #393939;
}

.musicListLI {
    font-size: 15px;
    font-weight: 500;
    padding: 3px;
}

.musicCancleForm {
    /* background-color: aliceblue; */
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 310px;
}

.musicCancleForm > p {
    font-size: 15px;
    font-weight: 500;
}

.musicCancleForm > button {
    width: 50px;
    height: 22px;
    border-radius: 3px;
    background-color: tomato;
    border: none;
    margin-left: 10px;
    font-size: 12px;
}

.WriteFrom {
    background-color: #ffa629;
    width: 100%;
    display: flex;
    flex: 0.7;
}

.WriteFrom > textarea {
    background-color: #ffa629;
    display: inline-flex;
    width: 100%;
    height: 75%;
    resize: none;
    border: none;
    outline: none;
    position: relative;
    padding: 10px;
}

.WriteFrom > textarea::placeholder {
    color: #393939;
}

.WriteDeleteBtn {
    position: absolute;
    right: 10px;
    bottom: 6px;
    width: 50px;
    height: 22px;
    border-radius: 3px;
    background-color: tomato;
    border: none;
    margin-left: 10px;
    font-size: 12px;
}


@media screen and (max-width: 1300px) {
    .anonymousForm > h4 {
        display: none;
    }
    .imgForm > h4 {
        display: none;
    }
    .musicOnOff > h4 {
        display: none;
    }
    .WriteContainer {
        width: 770px;
        left:  80%;
    }
}

@media screen and (max-width: 1250px) {
    .WriteContainer {
        /* height: 400px; */
        left:  65%;
    }
}

@media screen and (max-width: 1200px) {
    .Btn > h4 {
        display: none;
    }
    .Btn > button {
        margin-right: 0px;
    }
}

@media screen and (max-width: 1100px) {
    .Btn > button {
        width: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .WriteContainer {
        /* height: 400px; */
        left:  70%;
    }
}


@media screen and (max-width: 900px) {
    .WriteContainer {
        width: 720px;
        /* height: 400px; */
        left:  60%;
    }
    /* .HomeButtonForm > img {
        display: none;
    }
    .HomeButton {
        display: none;
    } */
}

@media screen and (max-width: 800px) {
    .WriteContainer {
        width: 500px;
        /* height: 400px; */
        left:  130%;
        /* height: 500px; */
        height: 535px;
    }
    .HomeWrite {
        flex-direction: column;
    }
    .WriteSelectForm {
        width: 480px;
    }
    .WriteDeleteBtn {
        top: 5px;
    }
    .WriteFrom {
        position: relative;
    }
    .WriteFrom > textarea {
        width: 100%;
        height: 160px;
        margin-top: 30px;
    }
    .musicSelect {
        display: flex;
    }
}


@media screen and (max-width: 750px) {
    .HomeButtonForm > img {
       width: 90px;
    }
}

@media screen and (max-width: 700px) {
    .HomeButtonForm > img {
       width: 80px;
    }
}

@media screen and (max-width: 650px) {
    .WriteContainer {
        left:  100%;
    }
    .HomeButtonForm > img {
        width: 70px;
    }
}

@media screen and (max-width: 620px) {
    .WriteContainer {
        left:  80%;
    }
    .HomeButtonForm > img {
        opacity: 0;
    }
}


@media screen and (max-width: 600px) {
    .WriteContainer {
        left:  70%;
    }
}

@media screen and (max-width: 580px) {
    .WriteContainer {
        left:  60%;
        width: 480px;
    }
    .WriteSelectForm {
        width: 460px;
    }
}

@media screen and (max-width: 560px) {
    .WriteContainer {
        left:  90%;
        width: 460px;
    }
    .WriteSelectForm {
        width: 440px;
    }
}

@media screen and (max-width: 540px) {
    .WriteContainer {
        left:  60%;
        width: 450px;
    }
    .WriteSelectForm {
        width: 430px;
    }
}

@media screen and (max-width: 510px) {
    .WriteContainer {
        left:  40%;
        width: 450px;
    }
    .WriteSelectForm {
        width: 430px;
    }
}

@media screen and (max-width: 490px) {
    .WriteContainer {
        left:  5%;
        top: 10%;
    }
    /* .WriteSelectForm {
        width: 430px;
    } */
}