/* <a href="https://kr.freepik.com/free-vector/crumpled-paper-texture-realisric-crease-sheet_28312862.htm#query=paper%20texture&position=45&from_view=keyword&track=ais">작가 upklyak</a> 출처 Freepik  */

.Home {
    display: block;
    z-index: 10000;
    width: 100%;
    position: relative;
}

.HomeForm {
    display: block;
    position: relative;
    height: 100%;
}

.HomeButtonForm {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.HomeButtonForm > img {
    width: 210px;
    cursor: pointer;
}

.HomeButton {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.Btn {
    background-color: rgb(128, 128, 128, 0.3);
    flex-direction: row;
    display: inline-flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
    position: relative;
    width: 160px;
    cursor: pointer;
}

.imgBtn {
    background-color: rgba(38, 82, 244, 0.8);
    width: 110px;
    height: 40px;
    margin-right: 10px;
    border: solid 1.5px rgba(38, 82, 244, 0.8);
}

.Btn > h4 {
    font-weight: 600;
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 22px;
    color: white;
    font-weight: 300;
}

.imgBtn:hover {
    background-color: rgb(255, 105, 41);
    border: solid 1.5px rgb(255, 105, 41);
    cursor: pointer;
}

.imgBtn_on {
    background-color: rgb(255, 105, 41);
    width: 110px;
    height: 40px;
    margin-right: 10px;
    border: solid 1.5px rgb(255, 105, 41);
}

.imgBtn > img, .imgBtn_on > img {
    position: absolute;
    right: 5px;
    width: 25px;
    height: auto;
    display: inline-flex;
    margin-top: 8px;
    margin-right: 5px;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(2deg) brightness(103%) contrast(101%);
}

.imgBtn > img:hover, .imgBtn_on > img:hover {
    position: absolute;
    right: 5px;
    width: 25px;
    height: auto;
    display: inline-flex;
    margin-top: 8px;
    margin-right: 5px;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(2deg) brightness(103%) contrast(101%);
}

.WriteContainer {
    display: inline-flex;
    width: 790px;
    height: 370px;
    top: 10%;
    left:  90%;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    flex: 1;
    background-image: url('../../Image/paper texture.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    filter: brightness(92%);
}

.Write {
    display: inline-block;
    width: 100%;
    position: relative;
    flex-direction: row;
}

.WriteLoading {
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.WriteLoading > img { 
    width: 350px;
}

.WriteHeader {
    display: flex;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    position: relative;
    z-index: 10000000;
}

.WriteHeader > h4 {
    color: black;
    letter-spacing: 5px;
    font-size: 20px;
    margin-left: 5px;
}

.WriteHeader > p {
    position: absolute;
    top: 23px;
    right: 40px;
    color: black;
    cursor: pointer;
    font-size: 25px;
}

.HomeWrite {
    flex-direction: row;
    display: flex;
}

.WriteSelectForm {
    display: flex;
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 10px;
    flex-direction: column;

    flex: 0.3;
}

.WriteTagForm {
    display: inline-flex;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    border: solid 1px #3861f6;
    margin-bottom: 10px;   
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}

.WriteTagForm > div {
    flex-direction: row;
    display: flex;
    margin-bottom: 10px;
    width: 100%;
} 

.WriteTagForm > div > input {
    display: flex;
    width: 75%;
    outline: none;
    border: none;
    height: 18px;
    padding: 10px;
    background-color: #2867fa;
    border-radius: 5px 0px 0px 5px;
}

.WriteTagForm > div > input::placeholder {
    font-family: 'East Sea Dokdo', cursive;
    color: white;
    font-size: 22px;
}

.WriteTagForm > div > button {
    display: inline-block;
    width: 15%;
    border: none;
    cursor: pointer;
    background-color: #ff6929;
    border-radius: 0px 5px 5px 0px;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 20px;
}

.WriteTagForm > span {
    flex-direction: column;
    display: flex;
    width: 80%;
    height: 100%;
    align-items: flex-start;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 3px;
}

.MusicImgAnonymous {
    display: flex;
    flex-direction: column;
    border:  solid 1px #3861f6;
    border-radius: 5px;
    overflow: hidden;
    height: 140px;
}

.ImgAnonymous {
    flex-direction: row;
    display: flex;
    flex: 1;
}

.anonymousForm {
    flex-direction: row;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex: 0.5;
}

.anonymousForm > h4 {
    font-size: 15px;
    letter-spacing: 3px;
}

.anonymousForm > span {
    width: 20px;
    border-radius: 5px;
    background-color: rgb(255, 105, 41);
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 2px;
    padding: 7px;
    margin-left: 5px;
    cursor: pointer;
    color: white;
}

.musicOnOff {
    flex-direction: row;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex: 0.5;
}

.musicOnOff > span {
    width: 20px;
    border-radius: 5px;
    background-color: #ff6929;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 2px;
    padding: 7px;
    margin-left: 5px;
    cursor: pointer;
    color: white;
}

.musicOnOff > h4 {
    font-size: 15px;
    letter-spacing: 3px;
}

.musicDontSelect {
    background-color: rgb(56, 97, 246, 0.4);
    pointer-events : none;
}

.DontSearchMusic, .DontSerchArtist {
    background-color: rgb(56, 97, 246, 0.4);
    border-radius: 3px;
    border: none;
    font-size: 12px;
    width: 130px;
    height: 20px;
}

.DontSearchMusic {
    margin-right: 10px;
}

.DontSerchOK {
    width: 30px;
    height: 22px;
    border-radius: 3px;
    background-color: rgb(56, 97, 246, 0.4);
    border: none;
    margin-left: 10px;
    color: white;
    cursor: pointer;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 15px;
    letter-spacing: 2px;
}

.musicSelect {
    border-top: solid 1px #4177f6;
    border-bottom: solid 1px #4177f6;
    display: inline-flex;
    flex-direction: row;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 10px;
}

.searchMusic, .serchArtist{
    background-color: #e4eaff;
}

.musicSelect > input::placeholder {
    color: #3861f6;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 13px;
    letter-spacing: 2px;
}

.musicSelect > span {
    font-size: 12px;
    width: 80px;
    display: inline-block;
}

.serchArtist, .searchMusic {
    border-radius: 3px;
    border: none;
    font-size: 12px;
    width: 130px;
    height: 20px;
}

.searchMusic {
    margin-right: 10px;
}

.serchOK {
    width: 30px;
    height: 22px;
    border-radius: 3px;
    background-color: rgb(255, 105, 41);
    border: none;
    margin-left: 10px;
    color: white;
    cursor: pointer;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 15px;
    letter-spacing: 2px;
}

.musicList {
    display: inline-flex;
    margin: 10px;
    height: 20px;
    flex: 0.3;
}

.musicList > p {
    font-weight: 500;
    font-size: 15px;
    margin-top: 3px;
    color: #393939;
}

.musicListLI {
    font-size: 15px;
    font-weight: 500;
    padding: 3px;
}

.musicCancleForm {
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 310px;
}

.musicCancleForm > p {
    font-size: 15px;
    font-weight: 500;
}

.musicCancleForm > button {
    width: 50px;
    height: 22px;
    border-radius: 3px;
    background-color: tomato;
    border: none;
    margin-left: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
    font-family: 'East Sea Dokdo', cursive;
}

.WriteFrom {
    background-color: #2867fa;
    width: 100%;
    display: flex;
    flex: 0.68;
    height: 275px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.WriteFrom > textarea {
    background-color: #2867fa;
    display: inline-flex;
    width: 100%;
    height: 75%;
    resize: none;
    border: none;
    outline: none;
    position: relative;
    padding: 10px;
    margin: 10px;
}

.WriteFrom > textarea::placeholder {
    color: #ffffff;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 18px;
    letter-spacing: 2px;
}

.WriteDeleteBtn {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 50px;
    height: 22px;
    border-radius: 3px;
    background-color: #4c7ff7;
    border: none;
    margin-left: 10px;
    font-size: 15px;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
    font-family: 'East Sea Dokdo', cursive;
}


@media screen and (max-width: 1300px) {
    .WriteContainer {
        width: 770px;
        left:  80%;
    }
}

@media screen and (max-width: 1250px) {
    .WriteContainer {
        left:  65%;
    }
}

@media screen and (max-width: 1100px) {
    .Btn > button {
        width: 50px;
    }
    .Btn {
        width: 160px;
    }
    .imgBtn > img, .imgBtn_on > img {
        margin-right: 5px;
    }
}

@media screen and (max-width: 1000px) {
    .WriteContainer {
        left:  40%;
    }
}


@media screen and (max-width: 900px) {
    .WriteContainer {
        width: 720px;
        left:  30%;
    }
}

@media screen and (max-width: 850px) {
    .WriteContainer {
        left: 10%;
    }
    .HomeButtonForm > img {
        width: 175px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .Btn {
        width: 120px;
    }
    .imgBtn > img, .imgBtn_on > img {
        margin-top: 8px;
        margin-right: 5px;    
    }
    .Btn > h4 {
        top: 12px;
        font-size: 19px;
        left: 16px;
    }
    .imgBtn, .imgBtn_on {
        width: 70px;
    }
}

@media screen and (max-width: 800px) {
    .WriteContainer {
        width: 500px;
        left:  80%;
        height: 600px;
    }
    .HomeWrite {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .WriteSelectForm {
        padding-left: 0px;
        width: 430px;
    }
    .WriteTagForm > div {
        width: 430px;
    }
    .MusicImgAnonymous {
        width: 430px;
    }
    .WriteDeleteBtn {
        top: 5px;
        right: 10px;
    }
    .WriteFrom {
        position: relative;
        width: 430px;
    }
    .WriteFrom > textarea {
        width: 100%;
        height: 160px;
        margin-top: 30px;
    }
    .musicSelect {
        display: flex;
    }
}


@media screen and (max-width: 750px) {
    .HomeButtonForm > img {
        width: 165px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 700px) {
    .WriteContainer {
        left: 50%;
    }
}

@media screen and (max-width: 650px) {
    .WriteContainer {
        left:  30%;
    }
    .HomeButtonForm > img {
        width: 130px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
     .Btn {
        width: 80px;
    }
    .imgBtn > img, .imgBtn_on > img {
        margin-right: 5px;
    }
    .imgBtn > img:hover, .imgBtn_on > img:hover {
        margin-right: 5px;
    }
    .Btn > h4 {
        font-size: 16px;
        top: 5px;
        left: 5px;
    }
    .imgBtn, .imgBtn_on {
        width: 80px;
        margin: 0px;
    }
}

@media screen and (max-width: 620px) {
    .HomeButton {
        margin-top: 50px;
    }
    .HomeButtonForm > img {
        display: none;
    }
    .Btn {
        width: 50px;
        border-radius: 10px;
    }
    .imgBtn > img, .imgBtn_on > img {
        margin-top: 8px;
        margin-right: 8px;
    }
    .imgBtn > img:hover, .imgBtn_on > img:hover {
        margin-top: 8px;
        margin-right: 8px;
    }
    .Btn > h4 {
        display: none;
    }
    .imgBtn, .imgBtn_on {
        width: 50px;
        margin: 0px;
        border-radius: 10px;
    }
}


@media screen and (max-width: 600px) {
    .WriteContainer {
        left:  0%;
    }
}

@media screen and (max-width: 580px) {
    .WriteContainer {
        left:  0%;
    }
}

@media screen and (max-width: 560px) {
    .WriteContainer {
        left:  -30%;
    }
}

@media screen and (max-width: 540px) {
    .WriteContainer {
        left:  -50%;
    }
}

@media screen and (max-width: 490px) {
    .WriteContainer {
        left:  5%;
        top: 10%;
    }
}