.SharedProfileMain {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.SharedProfileContainer {
    display: flex;
	flex-flow: row wrap;
    margin: 0px 100px 0px 100px;
    width: 100%;
    height: 100%;
}

.SharedProfileHome {
    display: inline-flex;
    width: 20%;
    height: 100%;
}

.SharedProfile {
    background-color: white;
    display: inline-flex;
    width: 60%;
    height: 100%;
    flex-direction: column;
}

.ProfileAnonymous {
    margin-left: 10px;
    font-size: 12px;
}

.SharedProfileBox {
    background-color: rgb(255, 105, 41);
    padding: 10px;
    text-align: start;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    position: relative;
    border-bottom: solid 1px #fb7a43;
    /* filter: drop-shadow(1px 1px 2px rgb(101, 100, 99)); */
}

.SharedProfileBox > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 1px #fb7a43;
    margin: 10px;
    display: flex;
}

.SharedProfileBox > div {
    width: 40%;
    height: 100%;
    text-align: center;
    align-items: flex-end;
    display: flex;
}

.SharedProfileBox > div > p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.SharedProfileTabForm {
    background-color: #fb7a43;
    display: flex;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    flex-direction: row;
    /* padding: 5px; */
    justify-content: space-between;
    /* padding: 5px 50px 5px 50px;  */
    position: relative;
}

.SharedProfileTabForm > li {
    display: inline-flex;
    cursor: pointer;
    background-color: rgb(255, 105, 41);
    padding: 10px;
    /* width: 100px; */
    flex: 0.332;
    justify-content: center;
    font-weight: 600;
}

.SharedProfileTabForm > li:hover {
    background-color: #fb7a43;
}

.SharedProfileMap {
    overflow: scroll;
    padding-top: 5px;
}

.SharedProfileMapHidden {
    display: none;
}

.SharedProfileEmpty {
    background-color: tomato;
    display: inline-flex;
    width: 20%;
}

.ProfileImgOpenBtn {
    position: absolute;
    z-index: 10;
    top: 9px;    
    right: 65px;
    width: 33px;
    cursor: pointer;
    filter: drop-shadow(3px 3px 3px rgb(55, 55, 55));
}

.ProfileImgOpenBtn2 {
    position: absolute;
    z-index: 10;
    top: 9px;    
    right: 15px;
    width: 33px;
    cursor: pointer;
    filter: drop-shadow(3px 3px 3px rgb(55, 55, 55));
}
/* 
.ProfileHeartForm {
    background-color: tomato;
    position: absolute;
    display: inline-flex;
    width: 100%;
    height: 30px;
    bottom: 0px;
    left: 0px;
} */

.ProfileHeartForm {
    background-color: #4177f6;
}

.ProfileHeartForm > div  {
    /* background-color: tomato; */
    position: absolute;
    display: inline-flex;
    width: 100%;
    height: 25px;
    bottom: 8px;
    left: 0px;
}

.ProfileHeartForm > div > img {
    position: absolute;
    display: flex;
    top: 0px;
    right: 160px;
    width: 25px;
}

.Heart {
    filter: invert(51%) sepia(27%) saturate(4484%) hue-rotate(343deg) brightness(101%) contrast(99%);
}

.ProfileHeartForm > div > h4 {
    position: absolute;
    display: flex;
    top: 5px;
    right: 35px;
}

@media screen and (max-width: 1200px) {
    .SharedProfileContainer {
        margin: 0px 50px 0px 50px;
    }
    .SharedProfileHome {
        width: 20%;
    }
    .SharedProfile {
        width: 60%;
    }
    .SharedProfileEmpty {
        width: 20%;   
    }
}

@media screen and (max-width: 980px) {
    .SharedProfileContainer {
        margin: 0px;
    }
    .SharedProfileHome {
        width: 15%;
    }
    .SharedProfile {
        width: 70%;
    }
    .SharedProfileEmpty {
        width: 15%;   
    }
}

@media screen and (max-width: 800px) {
    .SharedProfileContainer {
        margin: 0px;
    }
    .SharedProfileHome {
        width: 15%;
    }
    .SharedProfile {
        width: 85%;
    }
    .SharedProfileEmpty {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .ProfileImgOpenBtn {
        top: -50px;
    }
}

@media screen and (max-width: 600px) {
    .ProfileImgOpenBtn {
        top: -55px;
    }
}

@media screen and (max-width: 550px) {
    .ProfileImgOpenBtn {
        top: -70px;
    }
}



