.SharedProfileMain {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.SharedProfileContainer {
    display: flex;
	flex-flow: row wrap;
    margin: 0px 100px 0px 100px;
    width: 100%;
    height: 100%;
}

.SharedProfileHome {
    display: inline-flex;
    width: 20%;
    height: 100%;
}

.SharedProfile {
    background-color: rgb(28, 120, 201);
    display: inline-flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
}

.SharedProfileBox {
    background-color: turquoise;
    padding: 10px;
    text-align: start;
    flex-direction: row;
    display: inline-flex;
    align-items: flex-end;
}

.SharedProfileMap {
    overflow: scroll;
}

@media screen and (max-width: 1200px) {
    .SharedProfileContainer {
        margin: 0px 50px 0px 50px;
    }
    .SharedProfileHome {
        width: 15%;
    }
    .SharedProfile {
        width: 85%;
    }
}

@media screen and (max-width: 980px) {
    .SharedProfileContainer {
        margin: 0px;
    }
    .SharedProfileHome {
        width: 10%;
    }
    .SharedProfile {
        width: 90%;
    }
}