.SharedProfileMain {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.SharedProfileContainer {
    display: flex;
	flex-flow: row wrap;
    margin: 0px 100px 0px 100px;
    width: 100%;
    height: 100%;
}

.SharedProfileHome {
    display: inline-flex;
    width: 20%;
    height: 100%;
}

.SharedProfile {
    background-color: white;
    display: inline-flex;
    width: 55%;
    height: 100%;
    flex-direction: column;
}

.SharedProfileEmpty {
    display: inline-flex;
    background-color: white; 
    width: 25%;
    height: 100%;
}

.ProfileAnonymous {
    margin-left: 10px;
    font-size: 11px;
    font-weight: 400;
    color: rgb(0, 0, 0, 0.5);
}

.SharedProfileBox {
    background-color: white;
    border-bottom: solid 1px #000000;
    padding: 10px;
    text-align: start;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}

.SharedProfileBox > img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid 1px #dcdcdc;
    margin: 10px;
    display: flex;
}

.SharedProfileBox > div {
    width: 40%;
    height: 100%;
    text-align: center;
    align-items: flex-end;
    display: flex;
}

.SharedProfileBox > div > p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.SharedProfileTabForm {
    background-color: #729cfe;
    display: flex;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.tab {
    display: inline-flex;
    cursor: pointer;
    background-color: #358af9;
    padding: 10px;
    flex: 0.5;
    justify-content: center;
    font-weight: 600;
}

.tab_on {
    background-color:  #3861f6;
    display: inline-flex;
    cursor: pointer;
    padding: 10px;
    flex: 0.5;
    justify-content: center;
    font-weight: 600;
}

.SharedProfileTabForm > li:hover {
    background-color:  #3861f6;
}

.SharedProfileMap {
    overflow: scroll;
    padding-top: 15px;
}

.SharedProfileMapHidden {
    display: none;
}

.ProfileTagHeart {
    position: relative;
    top: -60px;
    height: 20px;
    display: flex;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
}

.ProfileTag {
    display: flex;
    position: absolute;
    width: 50%;
    height: 20px;
    left: 0px;
}

.ProfileTag > div {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.ProfileTag > div > span {
    display: inline-flex;
    margin-top: 5px;
    font-size: 13px;
    margin-right: 5px;
}

.ProfileHeartForm {
    position: absolute;
    display: flex;
    width: 50%;
    height: 20px;
    right: 0px;
}

.Heart {
    filter: invert(58%) sepia(32%) saturate(6655%) hue-rotate(342deg) brightness(102%) contrast(102%);
}

.ProfileHeartForm > div > img {
    position: absolute;
    display: flex;
    top: 0px;
    right: 80px;
    width: 20px;
    cursor: pointer;
}

.ProfileHeartForm > div > h4 {
    position: absolute;
    display: flex;
    top: 5px;
    right: 0px;
    font-size: 13px;
}

@media screen and (max-width: 1200px) {
    .SharedProfileContainer {
        margin: 0px 50px 0px 50px;
    }
    .SharedProfileHome {
        width: 20%;
    }
    .SharedProfile {
        width: 55%;
    }
    .SharedProfileEmpty {
        width: 25%;
    }
}

@media screen and (max-width: 1000px) {
    .SharedProfileHome {
        width: 25%;
    }
    .SharedProfile {
        width: 75%;
    }
    .SharedProfileEmpty {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .ProfileImgOpenBtn {
        top: -50px;
    }
}

@media screen and (max-width: 600px) {
    .ProfileImgOpenBtn {
        top: -55px;
    }
    .ProfileHeartForm {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .ProfileImgOpenBtn {
        top: -70px;
    }
    .ProfileTag {
        display: none;
    }
}



