/* <a href="https://www.flaticon.com/free-icons/post-it" title="post-it icons">Post-it icons created by Freepik - Flaticon</a> */

.ProfileEdit {
    display: inline-flex;
    justify-content: center;
    flex-flow: row wrap;
    border-radius: 10px;
    overflow: hidden;
    z-index: 100000;
    position: absolute;
    top: -300px;
    left: 125%;
    background-image: url('../../Image/post-it.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    /* opacity: 0.9; */
}

.ProfileEditContainer {
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
    padding: 40px;
    position: relative;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.EditHeader {
    display: inline-flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

.ProfileEditTitle {
    display: inline-flex;
    margin: 3px 20px 0px 20px;
    font-size: 23px;
    font-weight: 600;
}

.EditBackBtn, .EditOkkBtn {
    background-color: #064df3;
    width: 60px;
    height: 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Nanum Brush Script', cursive;
}

.EditImg {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid 1px #8aadfc;
    margin: 20px 0px 20px 0px;
    cursor: pointer;
    background-color: white;
}

.EditInput {
    display: inline-flex;
    height: 25px;
    border: solid 1px #064df3;
    border-radius: 50px 50px 50px 50px;
    padding: 10px 30px 10px 30px ; 
    font-size: 15px;
    background-color: #064df3;
    outline: none;
    width: 200px;
}

.EditInput::placeholder {
    color: #ffffff;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 20px;
}

@media screen and (max-width: 650px) {
    .ProfileEdit {
        top: -280px;
        left: 125%;
    }
}

@media screen and (max-width: 550px) {
    .ProfileEdit {
        top: -280px;
        left: 80%;
    }
}

@media screen and (max-width: 500px) {
    .ProfileEdit {
        top: -280px;
        left: 50%;
    }
}