.CardPage {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.CardPageContainer {
    display: flex;
	flex-flow: row wrap;
    margin: 0px 100px 0px 100px;
    width: 100%;
    height: 100%;
}

.CardPageHome {
    display: inline-flex;
    width: 20%;
    height: 100%;
}

.CardPageList {
    display: block;
    width: 55%;
    height: 100%;
    margin-top: 5px;
}

.CardEmpty {
    display: inline-flex;
    width: 25%;
    height: 100%;
}

.Card {
    display: block;
    height: 100%;
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
}

.CardBackGroundImg {
    height: 30%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.BackgroundImg {
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.CardProfileTrue {
    display: flex;
    position: absolute;
    top: 30px ;   
    left: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.CardProfileTrue > img {
    width: 32px;
    height: 32px;
    border: solid 1px rgb(0, 0, 0, 0.7);
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
    z-index: 1;
}

.CardProfileTrue > h5 {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    z-index: 1;
}

.CardAnonymous {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 400;
}

.CardForm { 
    position: absolute;
    height: 40%;
    top: 29%;
    right: 0px;
    left: 0px;
    text-align: start;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    word-break: break-all;
}

.CardForm > h3 {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}

.CardTagHeart {
    position: relative;
    top: -60px;
    height: 20px;
    display: flex;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
}

.CardTag {
    display: flex;
    position: absolute;
    width: 50%;
    height: 20px;
    left: 0px;
}

.CardTag > div {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.CardTag > div > span {
    display: inline-flex;
    margin-top: 5px;
    font-size: 14px;
    margin-right: 5px;
}

.Heart {
    filter: invert(58%) sepia(32%) saturate(6655%) hue-rotate(342deg) brightness(102%) contrast(102%);
}

.CardHeartForm {
    position: absolute;
    display: flex;
    width: 50%;
    height: 20px;
    right: 0px;
}

.CardHeartForm > div > img {
    position: absolute;
    display: flex;
    top: 0px;
    right: 80px;
    width: 20px;
}

.CardHeartForm > div > h4 {
    position: absolute;
    display: flex;
    top: 5px;
    right: 0px;
    font-size: 10px;
}

.CardNextButton1 {
    position: absolute;
    bottom: 105px;
    right: 15px;
    width: 25px;
    cursor: pointer;
    filter: invert(41%) sepia(69%) saturate(704%) hue-rotate(184deg) brightness(102%) contrast(97%);
}

.CardNextButton1:hover {
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 #d8e3fd);
    filter: opacity(.5) drop-shadow(0 0 0 #d8e3fd);
}

.CardNextButton2 {
    position: absolute;
    bottom: 105px;
    left: 15px;   
    width: 25px;
    cursor: pointer;
    filter: invert(41%) sepia(69%) saturate(704%) hue-rotate(184deg) brightness(102%) contrast(97%);
}

.CardNextButton2:hover {
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 #d8e3fd);
    filter: opacity(.5) drop-shadow(0 0 0 #d8e3fd);
}

.DeleteBox {
    position: absolute;
    width: 100%;
    height: 25%;
    top: 0px;
}

.CardDeleteButton {
    width: 25px;
    z-index: 100;
    position: absolute;
    bottom: 15px;
    right: 15px; 
    cursor: pointer;  
}

.CardMusicForm {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 105px;
}

.CardMusicName {
    display: flex;
    margin-bottom: -5px;
}

.CardMusicName > h4 {
    font-size: 14px;
}

.CardMusic {
    width: 200px;
}

.imgCardMusicBox {
    position: relative;
    cursor: pointer;
}

.img_Music {
    width: 110px;
    height: 100%;
    animation: rotate_image 4s ease-in-out infinite;
    transform-origin: 50% 50%;
    position: relative;
    left: -28px;
}

.img_MusicBox {
    position: absolute;
    left: 15px;
    top: -51px;
    width: 210px;
    opacity: 0.98;
}

.CardMusicBox {
    position: absolute;
    width: 50px;
    height: 81px;
    bottom: 5px;
    right: 22px;
    border-radius: 0px 3px 3px 0px;
}

.CardCommentInput {
    display: flex;
    height: 125px;
    margin: 0px ;
}

.CardInputBox {
    display: flex;
    width: 100%;
    height: 95%;
    align-items: flex-start;
    justify-content: center;
    padding-top: 6px;
    position: relative;
    justify-content: center;
}

.CardInputBox > textarea {
    display: inline-block;
    width: 100%;
    min-width: 20%;
    height: 70px;
    resize: none;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color:rgba(65, 119, 246, 0.302);
    padding-right: 13%;
}

.CardInputBox > textarea::placeholder {
    color: rgb(65, 119, 246);
    /* font-family: 'Nanum Brush Script', cursive; */
    font-size: 12px;
}

.OkBtnImg {
    width: 100px;
    position: absolute;
    cursor: pointer;
    right: 3%;
    top: 23px;
    width: 38px;
    height: 38px;
    filter: invert(41%) sepia(95%) saturate(3433%) hue-rotate(213deg) brightness(103%) contrast(93%);
}

.OkBtnImgValue {
    width: 100px;
    position: absolute;
    right: 3%;
    top: 23px;
    width: 38px;
    height: 38px;
    filter: invert(98%) sepia(54%) saturate(7045%) hue-rotate(181deg) brightness(108%) contrast(95%);
}

.Cardcomment {
    background-color: white;
    display: flex;
    overflow-y: scroll;
    height: 390px;
    width: 100%;
}

.CardcommentTrue {
    background-color: white;
    display: block;
    overflow-y: scroll;
    height: 520px;
    width: 100%;
    margin-top: 10px;
}


@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1200px) {
    .CardPageContainer {
        margin: 0px 50px 0px 50px;
    }
    .CardPageHome {
        width: 20%;
    }
    .CardPageList {
        width: 55%;
    }
    .CardEmpty {
        width: 25%;
    }
}

@media screen and (max-width: 1000px) {
    .CardPageHome {
        width: 25%;
    }
    .CardPageList {
        width: 75%;
    }
    .CardEmpty {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .CardForm {
        bottom: 18px;
    }
}

@media screen and (max-width: 750px) {
    .CardForm {
        top: 65px;
        height: 1000px;
    }
    .CardMusicForm {
        margin-top: 0px;
    }
    .CardDeleteButton {
        bottom: 15px;
        right: 15px;
    }
}

@media screen and (max-width: 700px) {
    .CardBackGroundImg {
        height: 30%;
    }
    .CardForm {
        margin-left: 60px;
        margin-right: 60px;
        top: 48px;
    }
    .CardNextButton1{
        bottom: 110px;
    }
    .CardNextButton2{
        bottom: 110px;
    }
    .CardProfileTrue {
        top: 20px;
    }
}

@media screen and (max-width: 650px) {
    .CardBackGroundImg {
        height: 33%;
    }
    .CardForm {
        bottom: 40px;
    }
    .CardNextButton1{
        bottom: 120px;
        right: 20px;
    }
    .CardNextButton2{
        bottom: 120px;
        left: 20px;
    }
    .CardInputBox > textarea {
        padding-right: 15%;    
    }
    .CardInputBox > button {
        right: 2%;
    }
    .Cardcomment {
        height: 370px;
    }
    .CardcommentTrue {
        height: 500px;
    }
    .CardTagHeart {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .CardBackGroundImg {
        height: 36%;
    }
    .CardNextButton1{
        bottom: 120px;
    }
    .CardNextButton2{
        bottom: 120px;
    }
    .Cardcomment {
        height: 350px;
    }
    .CardcommentTrue {
        height: 480px;
    }
    .CardDeleteButton {
        top: 25px;
    }
}

@media screen and (max-width: 550px) {
    .CardBackGroundImg {
        height: 36%;
    }
    .CardProfileTrue > img {
        display: none;
    }
    .CardForm {
        top: 40px;
    }
    .CardInputBox > button {
        width: 40px;
    }
    .CardDeleteButton {
        top: 15px;
        right: 20px;
    }
}

@media screen and (max-width: 530px) {
    .CardBackGroundImg {
        height: 36%;
    }
    .CardProfileTrue > h5 {
        display: none;
    }
    .CardAnonymous {
        display: none;
    }
    .CardForm {
        top: 10px;
    }
    .CardDeleteButton {
        top: 20px;
        right: 20px;
    }
}





