.CardPage {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.CardPageContainer {
    display: flex;
	flex-flow: row wrap;
    margin: 0px 100px 0px 100px;
    width: 100%;
    height: 100%;
}

.CardPageHome {
    display: inline-flex;
    width: 20%;
    height: 100%;
}

.CardPageList {
    display: block;
    width: 60%;
    height: 100%;
    margin-top: 5px;
}

.CardEmpty {
    display: inline-flex;
    /* background-color: #358af9; */
    width: 20%;
}

@media screen and (max-width: 1200px) {
    .CardPageContainer {
        margin: 0px 50px 0px 50px;
    }
    .CardPageHome {
        width: 20%;
    }
    .CardPageList {
        width: 60%;
    }
    .CardEmpty {
        width: 20%;
    }
}

@media screen and (max-width: 980px) {
    .CardPageContainer {
        margin: 0px;
    }
    .CardPageHome {
        width: 15%;
    }
    .CardPageList {
        width: 70%;
    }
    .CardEmpty {
        width: 15%;
    }
}

@media screen and (max-width: 800px) {
    .CardPageContainer {
        margin: 0px;
    }
    .CardPageHome {
        width: 15%;
    }
    .CardPageList {
        width: 85%;
    }
    .CardEmpty {
        display: none;
    }
}

.Card {
    /* background-color: #ffd966; */
    /* width: 100%; */
    /* display: inline-block; */
    /* padding: 0px 15px 0px 10px; */
    /* min-width: 625px; */
    display: block;
    height: 100%;
    width: 90%;
    margin-top: 20px;
}

.CardBackGroundImg {
    /* background-color: #4177f6; */
    /* border-bottom: solid 1px rgb(65, 119, 246, 0.3); */
    /* display: block; */
    /* background-color: violet; */
    height: 240px;
    /* border-radius: 10px; */
    overflow: hidden;
    position: relative;
    /* background-color: rgb(65, 119, 246, 0.8); */
    width: 100%;
}

.BackgroundImg {
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

/* .CardProfile {
    width: 100%;
    position: absolute;
    top: 30px;
} */

.CardProfileTrue {
    /* background-color:#3861f6; */
    /* display: flex;
    align-items: center;
    margin-left: 55px;
    margin-right: 55px; */

    display: flex;
    position: absolute;
    top: 30px ;   
    left: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.CardProfileTrue > img {
    width: 32px;
    height: 32px;
    border: solid 1px rgb(0, 0, 0, 0.7);
    border-radius: 50px;
    background-color: white;
}

.CardProfileTrue > h5 {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 600;
}

.CardAnonymous {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 500;
}

.CardForm { 
    /* display: flex; */
    /* width: 80%; */
    /* background-color: rgb(119, 222, 222); */
    position: absolute;
    height: 40%;
    top: 29%;
    right: 0px;
    left: 0px;
    font-size: 15px;
    font-weight: 400;
    text-align: start;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    word-break: break-all;
}

.CardForm > h3 {
    /* background-color: #9e9c9c; */
    font-size: 14px;
    font-weight: 400;
}

.CardTagHeart {
    /* background-color: #393939; */
    position: relative;
    top: -60px;
    height: 20px;
    /* flex-direction: row; */
    display: flex;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
}

.CardTag {
    display: flex;
    position: absolute;
    width: 50%;
    height: 20px;
    left: 0px;
}

.CardTag > div {
    /* display: block; */
    text-align: center;
    align-items: center;
    justify-content: center;
}

.CardTag > div > span {
    display: inline-flex;
    margin-top: 5px;
    font-size: 13px;
    margin-right: 5px;
}

.Heart {
    filter: invert(58%) sepia(32%) saturate(6655%) hue-rotate(342deg) brightness(102%) contrast(102%);
}

.CardHeartForm {
    /* background-color:wheat; */
    position: absolute;
    display: flex;
    width: 50%;
    height: 20px;
    right: 0px;
}

.CardHeartForm > div > img {
    position: absolute;
    display: flex;
    top: 0px;
    right: 105px;
    width: 20px;
}

.CardHeartForm > div > h4 {
    position: absolute;
    display: flex;
    top: 5px;
    right: 0px;
    font-size: 13px;
}

.CardNextButton1 {
    position: absolute;
    bottom: 105px;
    right: 15px;
    width: 25px;
    cursor: pointer;
    filter: invert(41%) sepia(69%) saturate(704%) hue-rotate(184deg) brightness(102%) contrast(97%);
}

.CardNextButton1:hover {
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 #d8e3fd);
    filter: opacity(.5) drop-shadow(0 0 0 #d8e3fd);
}

.CardNextButton2 {
    position: absolute;
    bottom: 105px;
    left: 15px;   
    width: 25px;
    cursor: pointer;
    filter: invert(41%) sepia(69%) saturate(704%) hue-rotate(184deg) brightness(102%) contrast(97%);
}

.CardNextButton2:hover {
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 #d8e3fd);
    filter: opacity(.5) drop-shadow(0 0 0 #d8e3fd);
}

.DeleteBox {
    position: absolute;
    /* background-color: #f4c783; */
    width: 100%;
    height: 25%;
    top: 0px;
}

.CardDeleteButton {
    /* background-color: #51422e; */
    width: 25px;
    z-index: 100;
    position: absolute;
    bottom: 0px;
    right: 40px; 
    cursor: pointer;  
}

.CardMusicForm {
    display: flex;
    /* background-color: aqua; */
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 100%; */
    height: 105px;
}

.CardMusicName {
    /* background-color: aliceblue; */
    display: flex;
    margin-bottom: -5px;
}

.CardMusicName > h4 {
    font-size: 14px;
}

.CardMusic {
    width: 200px;
}

.imgCardMusicBox {
    position: relative;
}

.img_Music {
    /* background-color: #393939; */
    width: 110px;
    height: 100%;
    animation: rotate_image 4s ease-in-out infinite;
    transform-origin: 50% 50%;
    position: relative;
    left: -28px;
}

.img_MusicBox {
    position: absolute;
    /* background-color: #db8e23; */
    left: 15px;
    top: -51px;
    width: 210px;
    opacity: 0.98;
}

.CardMusicBox {
    position: absolute;
    width: 50px;
    height: 81px;
    /* background-color: rgb(135, 205, 49); */
    bottom: 5px;
    right: 22px;
    /* opacity: 0.9; */
    border-radius: 0px 3px 3px 0px;
}

.CardCommentInput {
    display: flex;
    /* background-color: cadetblue; */
    height: 125px;
    margin: 0px ;
    /* align-items: center;
    justify-content: center; */
}

.CardInputBox {
    /* background-color: rgba(177, 184, 199, 0.8); */
    display: flex;
    width: 100%;
    height: 95%;
    /* border-bottom: solid 1px rgb(65, 119, 246); */
    align-items: flex-start;
    justify-content: center;
    padding-top: 6px;
    position: relative;
    justify-content: center;
}

.CardInputBox > textarea {
    display: inline-block;
    width: 100%;
    min-width: 20%;
    height: 70px;
    resize: none;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color:rgb(65, 119, 246, 0.3);
    padding-right: 13%;
}

.CardInputBox > textarea::placeholder {
    color: rgb(65, 119, 246);
}

.CardInputBox > button {
    position: absolute;
    right: 3%;
    top: 23px;
    width: 40px;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(65, 119, 246);
    border: none;
    color: white;
    cursor: pointer;
}

.Cardcomment {
    background-color: white;
    display: flex;
    overflow-y: scroll;
    /* height: 360px; */
    height: 390px;
    /* margin-top: 5px; */
    /* margin-top: 50px; */
    width: 100%;
    /* margin-left: 8%; */
    /* margin-right: 7%; */
}

.CardcommentTrue {
    background-color: white;
    /* background-color: tomato; */
    display: block;
    overflow-y: scroll;
    height: 520px;
    width: 100%;
    /* height: 580px; */
    margin-top: 10px;
    /* width: 85%; */
    /* margin-left: 8%; */
    /* margin-right: 7%; */

}


@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 800px) {
    .CardForm {
        bottom: 18px;
    }
}

@media screen and (max-width: 750px) {
    .CardForm {
        bottom: 20px;
    }
    .CardMusicForm {
        margin-top: 0px;
    }
}

@media screen and (max-width: 700px) {
    .CardForm {
        bottom: 35px;
        margin-left: 60px;
        margin-right: 60px;
    }
    .CardNextButton1{
        bottom: 110px;
    }
    .CardNextButton2{
        bottom: 110px;
    }
}

@media screen and (max-width: 650px) {
    .CardBackGroundImg {
        height: 260px;
    }
    .CardForm {
        bottom: 40px;
    }
    .CardNextButton1{
        bottom: 120px;
        right: 20px;
    }
    .CardNextButton2{
        bottom: 120px;
        left: 20px;
    }
    .CardInputBox > textarea {
        padding-right: 15%;    
    }
    .CardInputBox > button {
        right: 2%;
    }
    .Cardcomment {
        height: 370px;
    }
    .CardcommentTrue {
        height: 500px;
    }
}

@media screen and (max-width: 600px) {
    .CardBackGroundImg {
        height: 270px;
    }
    .CardNextButton1{
        bottom: 120px;
    }
    .CardNextButton2{
        bottom: 120px;
    }
    .CardDeleteButton {
        bottom: 15px;
    }
    .Cardcomment {
        height: 350px;
    }
    .CardcommentTrue {
        height: 480px;
    }
}

@media screen and (max-width: 550px) {
    .CardBackGroundImg {
        height: 280px;
    }
    .CardForm {
        top: 70px;
    }
    .CardInputBox > button {
        width: 40px;
    }
}

@media screen and (max-width: 500px) {
    .CardBackGroundImg {
        height: 280px;
    }
    .CardForm {
        top: 70px;
    }
}





