.PostData {
    display: block;
    width: 100%;
    overflow-y: scroll;
}

.PostDataHeader {
    display: flex;
    position: sticky;
    background-color: white;
    height: 40px;
    align-items: center;
    padding: 10px;
    top: 0;
    margin-bottom: 5px;
    z-index: 10000;
    border-bottom: solid 1px grey;
}

.PostDataHeader > h4 {
    font-size: 30px;
    font-weight: 300;
    color: #393939;
}

.PostList {
    margin-top: 10px;
}

.Post {
    padding: 0px 15px 10px 10px;
    display: block;
}

.PostBackGroundImg {
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.PostCardImgUrlForm {
    position: absolute;
    z-index: 100;
    display: inline-flex;
    margin: 10px;
    right: -5px;
    top: -5px;
    border-radius: 10px;
    overflow: hidden;
}

.PostCardImgUrl {
    display: flex;
    background-color: aliceblue;
    padding: 5px;
}

.PostCardImgUrl > img {
    min-width: 300px;
    width: 300px;
    height: 200px;
    object-fit: cover;  
    width: 100%;
    border-radius: 5px;
}

.BackgroundImg {
    position: relative;
    width: 100%;
    height: 100%;
}

.ProfileTrue {
    display: flex;
    position: absolute;
    top: 30px ;   
    left: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ProfileTrue > img {
    width: 32px;
    height: 32px;
    border: solid 1px rgb(0, 0, 0, 0.7);
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}

.ProfileTrue > h5 {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.PostAnonymous {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.PostForm { 
    position: absolute;
    height: 40%;
    top: 26%;
    right: 0px;
    left: 0px;
    text-align: start;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    word-break: break-all;
    cursor: pointer;
}

.PostForm > h3 {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}

.PostTagHeart {
    position: relative;
    top: -70px;
    height: 20px;
    display: flex;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
}

.PostTag {
    display: flex;
    position: absolute;
    width: 50%;
    height: 20px;
    left: 0px;
}

.PostTag > div {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.PostTag > div > span {
    display: inline-flex;
    margin-top: 5px;
    font-size: 14px;
    margin-right: 5px;
}

.PostHeartForm {
    position: absolute;
    display: flex;
    width: 50%;
    height: 20px;
    right: 0px;
}

.Heart {
    filter: invert(58%) sepia(32%) saturate(6655%) hue-rotate(342deg) brightness(102%) contrast(102%);
}

.PostHeartForm > div > img {
    position: absolute;
    display: flex;
    top: 0px;
    right: 80px;
    width: 20px;
    cursor: pointer;
}

.PostHeartForm > div > h4 {
    position: absolute;
    display: flex;
    top: 5px;
    right: 0px;
    font-size: 10px;
}

.PostNextButton1 {
    position: absolute;
    bottom: 105px;
    right: 15px;
    width: 25px;
    cursor: pointer;
    filter: invert(41%) sepia(69%) saturate(704%) hue-rotate(184deg) brightness(102%) contrast(97%);
}

.PostNextButton1:hover {
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 #d8e3fd);
    filter: opacity(.5) drop-shadow(0 0 0 #d8e3fd);
}

.PostNextButton2 {
    position: absolute;
    bottom: 105px;
    left: 15px;   
    width: 25px;
    cursor: pointer;
    filter: invert(41%) sepia(69%) saturate(704%) hue-rotate(184deg) brightness(102%) contrast(97%);
}

.PostNextButton2:hover {
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 #d8e3fd);
    filter: opacity(.5) drop-shadow(0 0 0 #d8e3fd);
}


.PostMusicForm {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -5px;
}

.PostMusicName {
    display: flex;
    margin-bottom: -5px;
}

.PostMusicName > h4 {
    font-size: 14px;
}

.PostMusic {
    width: 200px;
    height: 110px;
}

.imgPostMusicBox {
    position: relative;
}

.img_Music {
    width: 100px;
    height: 100px;
    animation: rotate_image 4s ease-in-out infinite;
    transform-origin: 50% 50%;
    position: relative;
    left: -28px;
}

.img_MusicBox {
    position: absolute;
    left: 25px;
    top: -43px;
    width: 185px;
    opacity: 0.98;
}

.PostMusicBox {
    position: absolute;
    width: 50px;
    height: 81px;
    bottom: 5px;
    right: 22px;
    border-radius: 0px 3px 3px 0px;
}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 800px) {
    .PostMusicForm {
        margin-top: -10px;
    }
    .PostForm {
        bottom: 18px;
    }
    .PostCardImgUrl > img {
        height: 190px;
    }
}

@media screen and (max-width: 750px) {
    .PostForm {
        bottom: 15px;
    }
    .PostMusicForm {
        margin-top: -10px;
    }
    .PostNextButton1{
        bottom: 100px;
    }
    .PostNextButton2{
        bottom:  100px;
    }
    .PostCardImgUrl > img {
        height: 190px;
    }
}

@media screen and (max-width: 700px) {
    .PostBackGroundImg {
        height: 280px;
    }
    .PostForm {
        top: 70px;
        margin-left: 60px;
        margin-right: 60px;
    }
    .PostMusicForm {
        margin-top: -5px;
    }
    .PostNextButton1{
        bottom: 130px;
    }
    .PostNextButton2{
        bottom: 130px;
    }
    .PostCardImgUrl > img {
        height: 190px;
    }
    .ImgOpenBtn{
        top: -50px;
    }
}

@media screen and (max-width: 650px) {
    .PostBackGroundImg {
        height: 290px;
    }
    .PostForm {
        top: 65px;
    }
    .PostMusicForm {
        margin-top: -0px;
    }
    .PostNextButton1{
        bottom: 130px;
        right: 30px;
    }
    .PostNextButton2{
        bottom: 130px;
        left: 30px;
    }
    .PostCardImgUrl > img {
        height: 200px;
    }
}

@media screen and (max-width: 600px) {
    .PostBackGroundImg {
        height: 320px;
    }
    .PostNextButton1{
        bottom: 150px;
    }
    .PostNextButton2{
        bottom: 150px;
    }
    .PostCardImgUrl > img {
        height: 210px;
    }
    .ImgOpenBtn{
        top: -55px;
    }
    .PostTagHeart {
        margin-top: 0px;
    }
    .PostTag {
        width: 100%;
    }
    .PostHeartForm {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .ProfileTrue > img {
        display: none;
    }
    .PostBackGroundImg {
        height: 350px;
    }
    .PostForm {
        top: 50px;
    }
    .PostNextButton1{
        bottom: 180px;
        right: 20px;
    }
    .PostNextButton2{
        bottom: 180px;
        left: 20px;
    }
    .PostCardImgUrl > img {
        height: 225px;
    }
    .PostMusicForm {
        margin-top: 40px;
    }
    .ImgOpenBtn{
        top: -70px;
    }
    .PostTagHeart {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .PostForm {
        bottom: 0px;
    }
}