.PostData {
    display: block;
    /* background-color: rgb(255, 105, 41); */
    width: 95%;
    overflow-y: scroll;
    /* margin-bottom: 10px;
    margin-top: 10px; */
}

.PostDataHeader {
    display: flex;
    position: sticky;
    background-color: white;
    /* background-color: #358af9; */
    height: 40px;
    align-items: center;
    padding: 10px;
    top: 0;
    margin-bottom: 5px;
    z-index: 10000;
    /* width: 100%; */
    /* margin-top: 10px; */
    /* border-bottom: solid 1px #358af9; */
    /* border-bottom: solid 1px rgb(255, 105, 41); */
    border-bottom: solid 1px grey;
    /* filter: drop-shadow(1px 1px 2px rgb(101, 100, 99)); */
}

.PostDataHeader > h4 {
    font-size: 18px;
    font-weight: 600;
    color: #393939;
}

.PostList {
    /* background-color: rgb(255, 105, 41); */
    margin-top: 10px;
}

.Post {
    /* background-color: yellowgreen; */
    /* width: 100%; */
    /* display: inline-block; */
    padding: 0px 15px 10px 10px;
    /* min-width: 625px; */
    display: block;
    /* width: 80%; */
}

.PostBackGroundImg {
    /* border: solid 1px #4177f6; */
    /* display: block; */
    /* background-color: #4177f6; */
    /* background-color: #d9e4ff; */
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.PostCardImgUrlForm {
    /* background-color: tomato; */
    position: absolute;
    z-index: 100;
    display: inline-flex;
    margin: 10px;
    right: -5px;
    top: -5px;
    border-radius: 10px;
    overflow: hidden;
}

.PostCardImgUrl {
    display: flex;
    background-color: aliceblue;
    padding: 5px;
}

.PostCardImgUrl > img {
    min-width: 300px;
    width: 300px;
    height: 200px;
    object-fit: cover;  
    width: 100%;
    border-radius: 5px;
    /* z-index: -10000000; */
}

.BackgroundImg {
    position: relative;
    width: 100%;
    height: 100%;
}

.ProfileTrue {
    display: flex;
    position: absolute;
    top: 30px ;   
    left: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ProfileTrue > img {
    width: 32px;
    height: 32px;
    border: solid 1px rgb(0, 0, 0, 0.7);
    border-radius: 50px;
    background-color: white;
}

.ProfileTrue > h5 {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 600;
}

.PostAnonymous {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 500;
}

.PostForm { 
    /* background-color: #e2c4c4; */
    position: absolute;
    height: 40%;
    top: 29%;
    right: 0px;
    left: 0px;
    font-size: 15px;
    font-weight: 400;
    text-align: start;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    word-break: break-all;
}

.PostForm > h3 {
    /* background-color: #9e9c9c; */
    font-size: 14px;
    font-weight: 400;
}

.PostTagHeart {
    /* background-color: #393939; */
    position: relative;
    top: -60px;
    height: 20px;
    /* flex-direction: row; */
    display: flex;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
}

.PostTag {
    /* background-color:wheat; */
    display: flex;
    position: absolute;
    width: 50%;
    height: 20px;
    left: 0px;
}

.PostTag > div {
    /* display: block; */
    text-align: center;
    align-items: center;
    justify-content: center;
}

.PostTag > div > span {
    display: inline-flex;
    margin-top: 5px;
    font-size: 13px;
    margin-right: 5px;
}

.PostHeartForm {
    /* background-color:wheat; */
    position: absolute;
    display: flex;
    width: 50%;
    height: 20px;
    right: 0px;
}

.Heart {
    filter: invert(58%) sepia(32%) saturate(6655%) hue-rotate(342deg) brightness(102%) contrast(102%);
}

.PostHeartForm > div > img {
    position: absolute;
    display: flex;
    top: 0px;
    right: 105px;
    width: 20px;
}

.PostHeartForm > div > h4 {
    position: absolute;
    display: flex;
    top: 5px;
    right: 0px;
    font-size: 13px;
}

.PostNextButton1 {
    position: absolute;
    bottom: 105px;
    right: 15px;
    width: 25px;
    cursor: pointer;
    filter: invert(41%) sepia(69%) saturate(704%) hue-rotate(184deg) brightness(102%) contrast(97%);
}

.PostNextButton1:hover {
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 #d8e3fd);
    filter: opacity(.5) drop-shadow(0 0 0 #d8e3fd);
}

.PostNextButton2 {
    position: absolute;
    bottom: 105px;
    left: 15px;   
    width: 25px;
    cursor: pointer;
    filter: invert(41%) sepia(69%) saturate(704%) hue-rotate(184deg) brightness(102%) contrast(97%);
}

.PostNextButton2:hover {
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 #d8e3fd);
    filter: opacity(.5) drop-shadow(0 0 0 #d8e3fd);
}


.PostMusicForm {
    display: flex;
    /* background-color: aqua; */
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 100%; */
    margin-top: -5px;
}

.PostMusicName {
    /* background-color: aliceblue; */
    display: flex;
    /* background-color: #393939; */
    margin-bottom: -5px;
}

.PostMusicName > h4 {
    font-size: 14px;
}

.PostMusic {
    /* background-color: violet; */
    width: 200px;
    height: 110px;
}

.imgPostMusicBox {
    /* background-color: #db8e23; */
    position: relative;
}

.img_Music {
    /* background-color: #393939; */
    width: 100px;
    height: 100px;
    animation: rotate_image 4s ease-in-out infinite;
    transform-origin: 50% 50%;
    position: relative;
    left: -28px;
}

.img_MusicBox {
    position: absolute;
    /* background-color: #db8e23; */
    left: 25px;
    top: -43px;
    width: 185px;
    opacity: 0.98;
}

.PostMusicBox {
    position: absolute;
    width: 50px;
    height: 81px;
    /* background-color: rgb(135, 205, 49); */
    bottom: 5px;
    right: 22px;
    /* opacity: 0.9; */
    border-radius: 0px 3px 3px 0px;
}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 800px) {
    .PostMusicForm {
        margin-top: -10px;
        /* height: 100px; */
    }
    .PostForm {
        bottom: 18px;
    }
    .PostCardImgUrl > img {
        height: 190px;
    }
}

@media screen and (max-width: 750px) {
    .PostBackGroundImg {
        /* height: 250px; */
    }
    .PostForm {
        bottom: 15px;
    }
    .PostMusicForm {
        margin-top: -10px;
        /* height: 130px; */
    }
    .PostNextButton1{
        bottom: 90px;
    }
    .PostNextButton2{
        bottom: 90px;
    }
    .PostCardImgUrl > img {
        height: 190px;
    }
}

@media screen and (max-width: 700px) {
    .PostBackGroundImg {
    }
    .PostBackGroundImg > img {
        /* margin: 60px 10px 10px 10px; */
    }
    .PostForm {
        /* overflow: scroll; */
        bottom: 20px;
        margin-left: 60px;
        margin-right: 60px;
    }
    .PostMusicForm {
        margin-top: -5px;
        /* height: 160px; */
    }
    .PostNextButton1{
        bottom: 90px;
    }
    .PostNextButton2{
        bottom: 90px;
    }
    .PostCardImgUrl > img {
        height: 190px;
    }
    .ImgOpenBtn{
        top: -50px;
    }
}

@media screen and (max-width: 650px) {
    .PostBackGroundImg {
        height: 245px;
    }
    .PostForm {
        bottom: 25px;
    }
    .PostMusicForm {
        margin-top: -0px;
        /* height: 160px; */
    }
    .PostNextButton1{
        bottom: 90px;
        right: 20px;
    }
    .PostNextButton2{
        bottom: 90px;
        left: 20px;
    }
    .PostCardImgUrl > img {
        height: 200px;
    }
}

@media screen and (max-width: 600px) {
    .PostBackGroundImg {
        height: 270px;
    }
    .PostBackGroundImg > img {
        /* margin: 65px 10px 10px 10px; */
    }
    .PostForm {
        top: 70px;
        /* height: 200px; */
    }
    .PostMusicForm {
        /* height: 80px; */
        /* margin-top: 20px; */
    }
    .PostNextButton1{
        bottom: 110px;
    }
    .PostNextButton2{
        bottom: 110px;
    }
    .PostCardImgUrl > img {
        height: 210px;
    }
    .ImgOpenBtn{
        top: -55px;
    }
    .PostTagHeart {
        margin-top: 0px;
    }
}

@media screen and (max-width: 550px) {
    .PostBackGroundImg {
        height: 280px;
    }
    .PostBackGroundImg > img {
        /* margin: 80px 10px 10px 10px; */
    }
    .PostForm {
        bottom: -35px;
        /* height: 280px; */
    }
    .PostMusicForm {
        /* height: 80px; */
        /* margin-top: 30px; */
    }
    .PostCardImgUrl > img {
        height: 225px;
    }
    .ImgOpenBtn{
        top: -70px;
    }
}

@media screen and (max-width: 500px) {
    .PostBackGroundImg {
        /* height: 270px; */
    }
    .PostForm {
        bottom: 0px;
        /* height: 280px; */
    }
    .PostMusicForm {
        /* height: 80px; */
        /* margin-top: 30px; */
    }
}