  @import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=East+Sea+Dokdo&family=Freehand&family=Kolker+Brush&family=Nanum+Brush+Script&family=Nanum+Myeongjo&family=Noto+Serif:ital@1&family=Open+Sans:ital,wght@1,800&family=Pacifico&family=Playfair+Display:ital,wght@1,600&family=Roboto:ital,wght@1,500&display=swap');

  html {
  width: 100vw;
  display: flex;
  height: 100vh;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Nanum Brush Script', cursive;
}

body {  
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  -ms-overflow-style: none;
  font-family: 'Nanum Brush Script', cursive;
}
    
::-webkit-scrollbar {
  display: none;
}

.App {
  display: flex;
  text-align: center;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  width: 100%;
  font-family: 'Nanum Brush Script', cursive;
}
