.CommentMore {
    background-color: aliceblue;
    /* display: inline-block; */
}

.More {
    border-bottom: solid 1px rgba(0, 0, 0, 0.6);
}

.MoreProfile {
    position: relative;
}

.MoreProfile > div {
    background-color: turquoise;
    /* width: 100%; */
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px;
}

.MoreProfile > div > h4 {
    /* background-color: aliceblue; */
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    top: 13px;
}

.MoreProfile > div > img {
    border: solid 1px rgba(0, 0, 0, 0.6);
    border-radius: 100%;
    width: 25px;
    height: 25px;
    margin: 5px 5px 5px 20px;
}

.MoreProfile > div > p {
    font-weight: 400;
    font-size: 13px;
}

.MoreProfile  > button {
    position: absolute;
    right: 10px;
    top: 13px;
}

.MoreComment {
    margin: 10px;
    text-align: start;
    background-color: tomato;
}