.CommentList {
    background-color:  #ffffff;
    border-bottom: solid 1px rgb(65, 119, 246, 0.3);
}

.CommentMore {
    background-color: #ffffff;
}

.More {
    min-height: 150px;
}

.MoreProfile {
    position: relative;
}

.MoreProfile > div {
    background-color: #818181;
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
    border-radius: 0px 10px 10px 10px;
}

.MoreProfile > div > h4 {
    font-weight: 400;
    font-size: 13px;
    position: absolute;
    top: 13px;
    padding-left: 10px;
    color: white;
}

.MoreProfile > div > img {
    border: solid 1px #4a4a4a;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    margin: 5px 5px 5px 32px;
    background-color: white;
}

.MoreProfile > div > p {
    font-weight: 500;
    font-size: 13px;
    color: white;
    font-size: 14px;
    margin-left: 5px;
}

.MoreProfile  > button {
    position: absolute;
    right: 10px;
    top: 13px;
}

.MoreComment {
    margin: 10px;
    text-align: start;
    font-size: 13px;
    padding: 5px 10px 5px 10px;
    line-height: 18px;
}